
  body {
    transition: background-color 50s ease;
    background: #DE1457;
    color: #fff;
    font-family: fantasy;
    font-size: 2em;
    text-align: center;
  }

  body:hover {
    background-color: #ECF31B;
  }

  canvas {
    border: solid .2em orange;
    height: 90vh;
  }

  h1 {
    font-family: fantasy;
  }

  p {
    font-size: 12px;
    font-family: fantasy;
    text-align: center;
  }

  #score {
    font-size: 50px;
    font-family: fantasy;
  }
